.heading{
    font-size: xx-large;
    color: black;
    text-align: center;
}
body{
    background-color: tan;
}
.valid_graph_flag{
    color: green;
}
#adj-list{
    color: green;
    white-space: pre-line;
}
#results{
    white-space: pre-line;
    font-size: large;
}